<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Impute Missing Values**

Estimated time needed: **30** minutes

In this lab, you will practice essential data wrangling techniques using the Stack Overflow survey dataset. The primary focus is on handling missing data and ensuring data quality. You will:

- **Load the Data:** Import the dataset into a DataFrame using the pandas library.

- **Clean the Data:** Identify and remove duplicate entries to maintain data integrity.

- **Handle Missing Values:** Detect missing values, impute them with appropriate strategies, and verify the imputation to create a complete and reliable dataset for analysis.

This lab equips you with the skills to effectively preprocess and clean real-world datasets, a crucial step in any data analysis project.

## Objectives

In this lab, you will perform the following:

-   Identify missing values in the dataset.

-   Apply techniques to impute missing values in the dataset.
  
-   Use suitable techniques to normalize data in the dataset.

-----

#### Install needed library

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 11.4 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 8.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 103.9 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 108.6 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 34.7 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 tzdata-2024.2

### Step 1: Import Required Libraries

In [3]:
import pandas as pd

### Step 2: Load the Dataset Into a Dataframe

#### **Read Data**
<p>
The functions below will download the dataset into your browser:
</p>

In [4]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

### Step 3. Finding and Removing Duplicates
##### Task 1: Identify duplicate rows in the dataset.

In [6]:
## Write your code here
duplicate_rows = df[df.duplicated(subset=df.columns.difference(['ResponseId']))]
duplicate_count = duplicate_rows.shape[0]
# Identify Duplicate Rows
print(f"\nNumber of duplicate rows: {duplicate_count}")

print("\nDuplicate rows:")
print(duplicate_rows.head())

Number of duplicate rows: 487

Duplicate rows:
       ResponseId                                         MainBranch  \
46264       46265                     I am a developer by profession
46774       46775                     I am a developer by profession
46921       46922                     I am a developer by profession
47073       47074  I am not primarily a developer, but I write co...
47340       47341                        I code primarily as a hobby

                      Age           Employment  \
46264     25-34 years old  Employed, full-time
46774     18-24 years old  Employed, full-time
46921     18-24 years old  Employed, full-time
47073     25-34 years old  Employed, full-time
47340  Under 18 years old   Student, full-time

                                 RemoteWork   Check  \
46264                                Remote  Apples
46774  Hybrid (some remote, some in-person)  Apples
46921                             In-person  Apples
47073                             In-person  Apples
47340                                   NaN  Apples

                                        CodingActivities EdLevel LearnCode  \
46264                                                NaN     NaN       NaN
46774  Hobby;Professional development or self-paced l...     NaN       NaN
46921                                                NaN     NaN       NaN
47073                                                NaN     NaN       NaN
47340                                                NaN     NaN       NaN

      LearnCodeOnline  ... JobSatPoints_6 JobSatPoints_7 JobSatPoints_8  \
46264             NaN  ...            NaN            NaN            NaN
46774             NaN  ...            NaN            NaN            NaN
46921             NaN  ...            NaN            NaN            NaN
47073             NaN  ...            NaN            NaN            NaN
47340             NaN  ...            NaN            NaN            NaN

      JobSatPoints_9 JobSatPoints_10 JobSatPoints_11 SurveyLength SurveyEase  \
46264            NaN             NaN             NaN          NaN        NaN
46774            NaN             NaN             NaN          NaN        NaN
46921            NaN             NaN             NaN          NaN        NaN
47073            NaN             NaN             NaN          NaN        NaN
47340            NaN             NaN             NaN          NaN        NaN

      ConvertedCompYearly JobSat
46264                 NaN    NaN
46774                 NaN    NaN
46921                 NaN    NaN
47073                 NaN    NaN
47340                 NaN    NaN

[5 rows x 114 columns]

##### Task 2: Remove the duplicate rows from the dataframe.

In [7]:
print("Number of rows before duplicate removal:", df.shape[0])

Number of rows before duplicate removal: 65437

In [8]:
## Write your code here
df.drop_duplicates(subset=df.columns.difference(['ResponseId']), inplace=True)

In [9]:
print("Number of rows after duplicate removal:", df.shape[0])

Number of rows after duplicate removal: 64950

### Step 4: Finding Missing Values
##### Task 3: Find the missing values for all columns.

In [10]:
## Write your code here
missing_values = df.isnull().sum()
print('The number of missing items is:\n ', missing_values)

The number of missing items is:
  ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10546
                       ...
JobSatPoints_11        35505
SurveyLength            8768
SurveyEase              8712
ConvertedCompYearly    41515
JobSat                 35824
Length: 114, dtype: int64

##### Task 4: Find out how many rows are missing in the column RemoteWork.

In [11]:
## Write your code here
remotework_missing = df["RemoteWork"].isnull().sum()
print('the number of missing rows in the RemoteWork Column is:', remotework_missing)

the number of missing rows in the RemoteWork Column is: 10546

### Step 5. Imputing Missing Values
##### Task 5: Find the value counts for the column RemoteWork.

In [16]:
## Write your code here
remotework_values = df['RemoteWork'].value_counts()
print('The number of values in the RemoteWork column is:\n', remotework_values)

The number of values in the RemoteWork column is:
 RemoteWork
Hybrid (some remote, some in-person)    22850
Remote                                  20732
In-person                               10822
Name: count, dtype: int64

##### Task 6: Identify the most frequent (majority) value in the RemoteWork column.

In [20]:
## Write your code here
mostfreq_value = df['RemoteWork'].mode()
print('The most frequent value in the RemoteWork colunn is:', mostfreq_value)

The most frequent value in the RemoteWork colunn is: 0    Hybrid (some remote, some in-person)
Name: RemoteWork, dtype: object

##### Task 7: Impute (replace) all the empty rows in the column RemoteWork with the majority value.

In [21]:
## Write your code here
df['RemoteWork'].fillna(mostfreq_value, inplace=True)

##### Task 8: Check for any compensation-related columns and describe their distribution.

In [23]:
## Write your code here
column_headers = df.columns.tolist()
print(column_headers)

['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check', 'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline', 'TechDoc', 'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'BuildvsBuy', 'TechEndorse', 'Country', 'Currency', 'CompTotal', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired', 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'DatabaseAdmired', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'PlatformAdmired', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'WebframeAdmired', 'EmbeddedHaveWorkedWith', 'EmbeddedWantToWorkWith', 'EmbeddedAdmired', 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'MiscTechAdmired', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 'ToolsTechAdmired', 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired', 'OpSysPersonal use', 'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith', 'OfficeStackAsyncAdmired', 'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith', 'OfficeStackSyncAdmired', 'AISearchDevHaveWorkedWith', 'AISearchDevWantToWorkWith', 'AISearchDevAdmired', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOHow', 'SOComm', 'AISelect', 'AISent', 'AIBen', 'AIAcc', 'AIComplex', 'AIToolCurrently Using', 'AIToolInterested in Using', 'AIToolNot interested in Using', 'AINextMuch more integrated', 'AINextNo change', 'AINextMore integrated', 'AINextLess integrated', 'AINextMuch less integrated', 'AIThreat', 'AIEthics', 'AIChallenges', 'TBranch', 'ICorPM', 'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4', 'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8', 'Knowledge_9', 'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering', 'Frustration', 'ProfessionalTech', 'ProfessionalCloud', 'ProfessionalQuestion', 'Industry', 'JobSatPoints_1', 'JobSatPoints_4', 'JobSatPoints_5', 'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9', 'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly', 'JobSat']

In [25]:
comptotal = df['CompTotal'].value_counts()
yearly_comptotal = df['ConvertedCompYearly'].value_counts()
print('The values of the CompTotal column are:', comptotal)
print('The values of the ConvertedCompYearly column are:', yearly_comptotal)

The values of the CompTotal column are: CompTotal
100000.0    939
60000.0     839
120000.0    793
80000.0     728
50000.0     705
           ...
201600.0      1
1100.0        1
133600.0      1
301210.0      1
81920.0       1
Name: count, Length: 3337, dtype: int64
The values of the ConvertedCompYearly column are: ConvertedCompYearly
64444.0     321
53703.0     308
75184.0     230
85925.0     226
107406.0    208
           ...
9711.0        1
950000.0      1
51448.0       1
447569.0      1
4738.0        1
Name: count, Length: 6113, dtype: int64

### Summary

**In this lab, you focused on imputing missing values in the dataset.**

- Use the <code>pandas.read_csv()</code> function to load a dataset from a CSV file into a DataFrame.

- Download the dataset if it's not available online and specify the correct file path.

<!--
## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.3|Madhusudhan Moole|Updated lab|
|2024-10-29|1.2|Madhusudhan Moole|Updated lab|
|2024-09-27|1.1|Madhusudhan Moole|Updated lab|
|2024-09-26|1.0|Raghul Ramesh|Created lab|
--!>

Copyright © IBM Corporation. All rights reserved.